$padding: 20px 30px 10px;

body {
  padding: $padding;
}

#popup {
  min-width: 640px;

  #topic {
    .content {
      max-height: inherit;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}