#popup {
  min-width: 645px;
  max-width: 645px;
  padding: 40px 30px 10px;

  #topic {
    .content {
      max-height: inherit;
    }
  }

  footer {
    padding-top: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}

#options {
  padding: 20px;
  overflow: hidden;
}

.edittools {
  position: absolute;
  right: 5px;
  top: 5px;
}